In [1]:
import nlp_disaster_tweets

2022-03-07 23:06:56,365 - nlp_disaster_tweets - INFO - Python version: 3.8.10 (default, Nov 26 2021, 20:14:08)
[GCC 9.3.0]
2022-03-07 23:06:56,366 - nlp_disaster_tweets - INFO - Numpy version: 1.19.5
2022-03-07 23:06:56,366 - nlp_disaster_tweets - INFO - Pandas version: 1.2.1
2022-03-07 23:06:56,366 - nlp_disaster_tweets - INFO - Scikit-learn version: 1.0.2
2022-03-07 23:06:56,367 - nlp_disaster_tweets - INFO - TensorFlow version: 2.6.0
2022-03-07 23:06:56,367 - nlp_disaster_tweets - INFO - tensorflow.random seed: 1

In [2]:
out = nlp_disaster_tweets.main()

[nltk_data] Downloading package stopwords to /home/jec/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
out

,keyword,location,text,hashtag,at,href
0,NaN,NaN,deeds the reason this earthquake may allah for...,#earthquake,,0
1,NaN,NaN,forest fire near la ronge sask canada,,,0
2,NaN,NaN,residents asked shelter place being notified o...,,,0
3,NaN,NaN,number people receive wildfires evacuation ord...,#wildfires,,0
4,NaN,NaN,got sent photo ruby alaska smoke wildfires pou...,#alaska #wildfires,,0
...,...,...,...,...,...,...
7608,NaN,NaN,two giant cranes holding bridge collapse nearb...,,,1
7609,NaN,NaN,recipient recipient out control wild fires cal...,,@aria_ahrary @thetawniest,0
7610,NaN,NaN,number utc number km volcano hawaii http,,,1
7611,NaN,NaN,police investigating an e bike collided a car ...,,,0
7612,NaN,NaN,latest homes razed northern california wildfir...,,,1

In [8]:
import pandas as pd
pd.DataFrame(out["text"].str.split(" ").tolist())
t = out["text"].str.split(" ").tolist()
max_width = len(max(t, key=len))

28

In [7]:
df_full = pd.concat([df_train, df_test], ignore_index=True)

#word_enc, num_unique_words, word_cols = transform_data(df_full)
#tokenizer, num_unique_words, word_cols = tf_tokenizer(df_full, text, 1000)

NameError: name 'df_train' is not defined

In [ ]:
hist = model.fit(
    X_train, 
    epochs=8,
    validation_data=X_valid,
    callbacks=[
        #tensorboard_callback, 
        early_stopping,],)

In [ ]:
model.summary()

In [ ]:
Y_train_pred = model.predict(X_unpad)
Y_test_pred = model.predict(X_test)

In [ ]:
df_train_pred = pd.DataFrame(Y_train_pred, columns=y_cols)
df_train_pred = df_train_pred.apply(np.round).astype({x: int for x in y_cols})
df_train_pred[target] = df_train_pred["target_1"]
df_train_pred.drop(y_cols, inplace=True, axis=1)
df_train_pred["id"] = df_train["id"].values
df_train_pred = df_train_pred[["id", target]]

In [ ]:
df_test_pred = pd.DataFrame(Y_test_pred, columns=y_cols)
df_test_pred = df_test_pred.apply(np.round).astype({x: int for x in y_cols})
df_test_pred[target] = df_test_pred["target_1"]
df_test_pred.drop(y_cols, inplace=True, axis=1)
df_test_pred.drop(
    list(df_test_pred.index[df_train.shape[0]:]),
    inplace=True, axis=0,
)
df_test_pred["id"] = df_test["id"].values
df_test_pred = df_test_pred[["id", target]]

In [ ]:
log.info("\n" +
    sklearn.metrics.classification_report(
        df_train[target],
        df_train_pred[target],
        target_names=["Not disaster", "Disaster"]))

In [ ]:
log.info("Training accuracy score {}.".format(
    sklearn.metrics.accuracy_score(df_train[target], df_train_pred[target])
    ))

In [ ]:
output_dir = data_dir
results_bn = "results.csv"
results_fn = os.path.join(output_dir, results_bn)

df_test_pred.to_csv(results_fn, index=False)

### model.save(os.path.join(tfboard_dir, "model"))